# -*- coding: utf-8 -*-
# vim: ft=yaml

common:
  enabled: true

sops:
  cli:
    enabled: true

yq:
  cli:
    enabled: true

aquasecurity:
  trivy:
    enabled: true
  falco:
    enabled: false

hashicorp:
  terraform:
    cli:
      enabled: true

pulumi:
  cli:
    enabled: true

kubernetes:
  cli:
    enabled: true
  helm:
    enabled: true
  azure:
    kubelogin:
      enabled: true

ldap:
  enabled: true

aws:
  cli:
    enabled: false
  nuke:
    enabled: false
  samcli:
    enabled: false

microsoft:
  azure:
    cli:
      enabled: false
  odbc:
    cli:
      enabled: false

google:
  cloud:
    cli:
      enabled: false

hetzner:
  cli:
    enabled: false

scaleway:
  cli:
    enabled: false

argo:
  cd:
    cli:
      enabled: false
  workflows:
    cli:
      enabled: false

openfaas:
  cli:
    enabled: false

nuclio:
  cli:
    enabled: false

fission:
  cli:
    enabled: false

minio:
  cli:
    enabled: false

github:
  cli:
    enabled: true

go:
  sdk:
    enabled: true

fluxcd:
  cli:
    enabled: true

weave:
  flamingo:
    cli:
      enabled: false
  gitops:
    cli:
      enabled: false
  
