# -*- coding: utf-8 -*-
# vim: ft=yaml

common:
  enabled: true

aquasecurity:
  trivy:
    enabled: true
  falco:
    enabled: true

hashicorp:
  terraform:
    cli:
      enabled: true

pulumi:
  cli:
    enabled: true

kubernetes:
  cli:
    enabled: false
  helm:
    enabled: false

aws:
  cli:
    enabled: false
  samcli:
    enabled: false

microsoft:
  azure:
    cli:
      enabled: false

google:
  cloud:
    cli:
      enabled: false

hetzner:
  cli:
    enabled: false

scaleway:
  cli:
    enabled: false

argo:
  cd:
    cli:
      enabled: false
  workflows:
    cli:
      enabled: false

openfaas:
  cli:
    enabled: false

nuclio:
  cli:
    enabled: false

fission:
  cli:
    enabled: false

