# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set flamingo = salt['pillar.get']('weave:flamingo:cli', default=defaults['flamingo'], merge=True) %}