# -*- coding: utf-8 -*-
# vim: ft=jinja

{#- Start imports #}
{% import_yaml tpldir ~ "/defaults.yaml" or {} as defaults %}

{#- Merge in salt pillar #}
{% set nuctl = salt['pillar.get']('nuclio:cli', default=defaults['nuctl'], merge=True) %}